
.h-1{
    font-size: 78px;
    margin-left: 98px;
}
.div--1{
    background-color: lightskyblue;
}
.mas{
   margin-top:-90px;
}
.p--1{
    max-width: 550px;
    margin-left: 15px;
    margin-top: -210px;
    font-size: 17px;

}
.dar{
    margin-top: -200px;
}
.img--1{
    border:  2px silver solid;
    width: 100px;
    height: 100px;
    margin-top: -350px;
    margin-left: 650px;
}
.img--2{
    border:  2px silver solid;
    width: 100px;
    height: 100px;
    margin-top: -5px;
    margin-left: 750px;

}
.img--3{
    border:  2px silver solid;
    width: 100px;
    height: 100px;
    margin-top: -10px;
    margin-left: 851px;

}
.dav{
    margin-top: -310px;
}
.img--4{
    border:  2px silver solid;
    width: 100px;
    height: 101px;
    margin-bottom: 200px;
    margin-left: 851px;
}


